main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#i1{
    margin: 0;
    height: 370px;
}

@media screen and (max-width: 900px){
    #i1{
        height: 320px;
    }
}

@media screen and (max-width: 600px){
    #i1{
        height: 238px;
    }
}

#manzoomeh{
    background-color: brown;
}

#manzoomeh-a{
    color: white;
}
